:root {
  --text_colour: #161310;
  --dark_primary: #443e2e;
  --light-brown: #705c47;
  --off-white: #f6f5f1;
  --gray-beige: #999184;
  --beige: #c9bca7;
  --light_primary: #a8a091;
}

body {
  color: var(--text_colour);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("/imgs/background_with_mask_polygons.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spa_solid_svg {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"%3E%3Cpath d="M183.1 235.3c33.7 20.7 62.9 48.1 85.8 80.5c7 9.9 13.4 20.3 19.1 31c5.7-10.8 12.1-21.1 19.1-31c22.9-32.4 52.1-59.8 85.8-80.5C437.6 207.8 490.1 192 546 192l9.9 0c11.1 0 20.1 9 20.1 20.1C576 360.1 456.1 480 308.1 480L288 480l-20.1 0C119.9 480 0 360.1 0 212.1C0 201 9 192 20.1 192l9.9 0c55.9 0 108.4 15.8 153.1 43.3zM301.5 37.6c15.7 16.9 61.1 71.8 84.4 164.6c-38 21.6-71.4 50.8-97.9 85.6c-26.5-34.8-59.9-63.9-97.9-85.6c23.2-92.8 68.6-147.7 84.4-164.6C278 33.9 282.9 32 288 32s10 1.9 13.5 5.6z"%2F%3E%3C%2Fsvg%3E');
  filter: invert(22%) sepia(28%) saturate(417%) hue-rotate(6deg) brightness(94%)
    contrast(90%);
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 50px;
  background-color: var(--beige);
  gap: 20px;
}

.sign_in_label {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  color: #2d2b2b;
}

.register_now {
  font-size: 1.5rem;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.register_now p {
  color: #fff;
}

.register_now a {
  color: #443e2e;
  font-weight: 700;
  text-decoration: none;
}

.login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align form fields to the left */
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.user_input {
  width: 20rem;
  padding: 0.75rem 1rem; /* Space for icons */
  padding-left: 2.5rem; /* Add space for the icon */
  border: none;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 1rem;
}

.user_input:focus {
  border-color: var(--dark_primary);
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--text_colour);
}

.user_input_submit {
  margin-left: auto;
  margin-top: 10px;
}

.btn_next .icon {
  position: absolute;
  right: 10px; /* Position icon on the right */
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--off-white);
}

.btn_next {
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0.75rem;
  width: 60%;
  border-radius: 20px;
  background-color: #443e2e;
  color: var(--off-white);
  cursor: pointer;
  font-size: large;
}

.btn_next:hover {
  background-color: #5e4b38;
}
